@import "../../assets/breakPoints.scss";
.Juice-page {
  width: 100%;
  padding: 3em 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
      gap: 1em;
      @include breakPoints(mobile) {
        grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
      }
    }
  }
}
